.dom-enter
{
    opacity: 0;
}

.dom-enter-active
{
    opacity: 1;
    transition: opacity 500ms;
}

.dom-enter-done
{
    opacity: 1;
}

.dom-exit
{
    opacity: 1;
}

.dom-exit-active
{
    opacity: 0;
    transition: opacity 500ms;
}

.dom-exit-done
{
    opacity: 0;
}