#information
{
    /*background-color: antiquewhite;*/
    height: auto;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 90px;
    padding-bottom: 15px;
}

#informationLeft
{
    width: 70%;
    margin-right: 15px;
    background-color: white;
    border: 0 solid white;
    border-radius: 20px;
    box-shadow:
            -2px 0 3px -1px #808080,
            0 -2px 3px -1px #808080,
            0 2px 3px -1px #808080,
            2px 0 3px -1px #808080;
}

#informationRight
{
    width: 30%;
}
