#recommend
{
    height: 600px;
    margin-bottom: 15px;
    /*border: 1px solid red;*/
    background-color: white;
    border: 0 solid white;
    border-radius: 20px;
    box-shadow:
            -2px 0 3px -1px #808080,
            0 -2px 3px -1px #808080,
            0 2px 3px -1px #808080,
            2px 0 3px -1px #808080;
}

#recommendBox
{
    padding-top: 50px;
    /*padding-left: 90px;*/
    padding-left: 18%;
}

#mainFoot
{
    height: 200px;
    /*border: 1px solid red;*/
}